* {
    font-family: "Roboto", sans-serif;
    
    
}

.main-title {
    margin: auto;
    font-size: 75px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.contact-table {
    display: flex;
    margin: auto;
    gap: 5vw;
}

.column__element {
    width: 20vw;
    min-width: 200px;
    font-size:calc(16px + 1vw);
    background-color: red;
    cursor: pointer;
}

.form__element {
    font-size:calc(12px + 0.5vw);
}

.column__element-data-info {
    display: none;
    position: relative;
    cursor: default;
}

.column__element-data-info-shown {
    display: block;
}

.column__element__remove-button {
    position: absolute;
    top: 40%;
    left: 85%;
}

.text-field-wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.error-message {
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    hyphens: auto;
    text-align: center;
    overflow: auto;

    color: rgb(37, 37, 37);
    background-color: rgb(255, 95, 95);
    border-radius: 3px;
    border: 2px solid black;
    height: 3.7em;
    visibility: hidden;
}

.error-message_visible{ 
    animation: fadeIn 0.5s ease forwards, fadeOut 0.5s 5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
        
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.search-window-wrapper {
    position: fixed;
    width: 700px;
    height: 500px;
    top: 25vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    /* opacity: 0; */
    background: #F6F6F6;
}

.seach-window_active {
    visibility: visible;
    /* opacity: 1; */
    
}

.edit-window-wrapper {
    position: fixed;
    width: 350px;
    height: 500px;
    top: 25vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    /* opacity: 0; */
    background: #F6F6F6;
}

.edit-window_active {
    visibility: visible;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.search-window-main, .edit-window-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.search-window__input {
    width: 80%;
    height: 1.5em;
}

.search-window__output {
    height: 70%;
    width: 81%;
    background-color: red;
}

.search-window__close-window {
    position: absolute;
    top: 4%;
    left: 92%;
}
