* {
    font-family: "Roboto", sans-serif;
    
    
}

.main-title {
    margin: auto;
    font-size: 75px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.contact-table {
    display: flex;
    margin: auto;
    gap: 5vw;
}

.column__element {
    width: 20vw;
    min-width: 200px;
    font-size:calc(16px + 1vw);
    background-color: red;
}

.form__element {
    font-size:calc(12px + 0.5vw);
}

.column__element-data-info {
    display: none;
    position: relative;
}

.column__element-data-info-shown {
    display: block;
}

.column__element__remove-button {
    position: absolute;
    top: 40%;
    left: 85%;
}

.text-field-wrapper {
    
    display: flex;
    flex-direction: column;
}

.error-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: normal;
    text-align: center;
    max-width: 250px;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 95, 95);
    border-radius: 3px;
    border: 2px solid black;
    height: 2.5em;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    /* visibility: hidden; */
}

.error-message_visible{ 
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
        
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}